html, body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

input[type=submit] {
  background: rgb(244, 68, 96);
  color: white;
}









a {
  color: white;
}

.cover {
  position: absolute;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
}

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 25px;
  font-size: 14px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
}

.flex-form > *:last-child {
  border-right: 0;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form {
  display: flex;
  border: 20px solid rgba(255, 255, 255, .3);
  border-radius: 3px;
}

input[type="search"] {
  flex-basis: 300px;
}
